#header {
text-align: center;
font-size: 64px;
font-family: 'Khand', sans-serif;

}

#header2{
font-size: 16px;
font-family: 'Pragati Narrow', sans-serif;

}

.searchBar {
width: 33%;
margin: 0 auto;
}

#patientInfo {
  width: 25%;
  margin: 0 auto;
  text-align:center;
}

#header2 {
  text-align: center;
}

#inputYearOfBirth {
margin-top: 20px;

}

#searchBtn {
  margin-top: 16px; 
}