* {
  background-color: rgb(35, 35, 35)!important;
  color: rgb(161, 209, 89) !important;
  border-color: white !important;
  font-family: 'Khand', sans-serif;
}

.bg-light {
  background-color: rgb(35, 35, 35) !important;
}

.jumbotron {
  background-color: rgb(35, 35, 35);
}

.btn-light {
  background-color: rgb(35, 35, 35);
  border-color: rgb(161, 209, 89);
}

.navbar {
  width: 100%;
  text-align: center;
}

.form-control {
  width: 75%;
  /* text-align: center; */
}

#signin {
  margin: 10px;
}

.doctorsCard {
  display: none;
}

.diagnosisCard {
  display: none;
}

.header {
  text-align: center;
}

#location-status {
  display: none;
}

.specializationBtn {
  display: block;
  margin-bottom: 2%;
}

.bootstrap-select {
  width: 80% !important;
}

#header {
  text-align: center;
  font-size: 64px;
  font-family: 'Khand', sans-serif;
}

#header2 {
  font-size: 16px;
  font-family: 'Pragati Narrow', sans-serif;
  text-align: center;
}

.searchBar {
  width: 40%;
  margin: 0 auto;
  padding: 0;
}

#patientInfo {
  width: 25%;
  margin: 0 auto;
  text-align: center;
}

#inputYearOfBirth {
  margin-top: 20px;
}

#searchBtn:hover {
  background-color: white !important;
}

#searchBtn:active {
  transform: translateY(4px);
}

#clearBtn:hover {
  background-color: white !important;
}

#clearBtn:active {
  transform: translateY(4px);
}

#searchBtn {
  margin-top: 16px;
}

#mainText {
  font-family: 'Khand', sans-serif;
  font-size: 64px;
}

#indexLogo {
  width: 100%;
  text-align: center;
}

.nav {
  width: 56.5%;
}

#logOut {
 text-align: right;
}

#diagnosis {
  text-align: center;
}

#doctors {
  text-align: center;
}

#enterSymptoms {
  font-size: 20px;
  color: white !important;
}

#homeText:hover {
  color: white !important;
}

#homeText:active {
  transform: translateY(4px);
}

#searchhistory:hover {
  color: white !important;
}

#searchhistory:active {
  transform: translateY(4px);
}

#searchhistory {
  margin-top: 8px;
}

#logout:hover {
  background-color: white !important;
}

#logout:active {
  transform: translateY(4px);
}
