
#signin ,#logout{
  margin: 10px;
}

.doctorsCard  {
    display: none;
}

.diagnosisCard {
    display: none;
}

#location-status {
    display: none;
}

.specializationBtn {
    display: block;
    margin-bottom: 2%;
}

.bootstrap-select {
    width: 80% !important;
}

