.navbar {
    width: 100%;
    text-align: center;
}

.form-control {
    width: 75%;
    text-align: center;
}

#signin {
    margin: 10px;
}

.doctorsCard {
    display: none;
}

.diagnosisCard {
    display: none;
}

.header {
    text-align: center;
}

#location-status {
    display: none;
}

.specializationBtn {
    display: block;
    margin-bottom: 2%;
}

.bootstrap-select {
    width: 80% !important;
}

#header {
    text-align: center;
    font-size: 64px;
    font-family: 'Khand', sans-serif;
}

#header2 {
    font-size: 16px;
    font-family: 'Pragati Narrow', sans-serif;
}

.searchBar {
    width: 40%;
    margin: 0 auto;
    padding: 0;
}

#patientInfo {
    width: 25%;
    margin: 0 auto;
    text-align: center;
}

#header2 {
    text-align: center;
}

#inputYearOfBirth {
    margin-top: 20px;
}

#searchBtn {
    margin-top: 16px;
}

#clearBtn {
    margin-top: 16px;
}

#mainText {
    font-family: 'Khand', sans-serif;
    font-size: 64px;
}

#indexLogo {
    width: 100%;
    text-align: center;
}

.nav {
    width: 56.5%;
}

#logOut {
    text-align: right;
}